.nav-item:hover::after{
    width: 100%;
    transition: width .3s; 
  }
  .nav-item::after {
    content: '';
    display: block;
    width: 0;
    height: 5px;
    background: #1B1960;
    transition: width .3s;
   
}  

.accueil-text .text-info {
    text-shadow: 1px 1px 1px blue;
}
.mb-5 {
  font-family: 'Fredericka the Great', cursive;
}

footer
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
nav {
    background-color: #F1F2F3;

    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
nav li {
    font-family: 'Limelight', cursive;
}

#realisation {
   
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    
}

.mouse_scroll {

	display: block;
	margin: 0 auto;
	width: 24px;
	height: 100px;
	position: relative;
    margin-top: -10%;
}


.mouse_scroll .m_scroll_arrows
{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
   
  border-right: 2px solid #31D2F2;
  border-bottom: 2px solid #31D2F2;
  margin: 0 0 3px 4px;
  
  width: 16px;
  height: 16px;
}


.mouse_scroll .unu
{
  margin-top: 1px;
}

.mouse_scroll .unu,.mouse_scroll .doi,.mouse_scroll .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
  
}

.mouse_scroll .unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  
  animation-direction: alternate;
  animation-delay: alternate;
}

.mouse_scroll .doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .2s;
  animation-direction: alternate;
  
  margin-top: -6px;
}

.mouse_scroll .trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .3s;
  animation-direction: alternate;
  
  margin-top: -6px;
}

.mouse {
  
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid #31D2F2;
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: #31D2F2;
  position: relative;
  
  height: 4px;
  width: 4px;
  border: 2px solid rgb(17, 12, 12);
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@-o-keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}



@media (max-width: 768px) {
    .nav-item::after {
      display: none;
    }
  }


  /* button get-btn */

  .services-item .get-btn{
    transform: translateY(20px);
    opacity: 0;
    transition: 0.3s all;
  }
  .services-item:hover .get-btn{  
    transform: translateY(0);
    opacity: 1;   
}
.services-item .get-btn{
  background-color: #31D2F2;
  transform: translateY(20px);
  opacity: 0;
  transition: 0.3s all;
  color: white;
}
.services-item:hover .get-btn{
  
  transform: translateY(0);
  opacity: 1;
 
}

.services-item button {
  font-size: 0.8rem;
  font-weight: 700;
  outline: none;
  border: none;
  padding: 13px 30px;
  text-transform: uppercase;
  cursor: pointer;
}

/* image de réalisations */
.services-item img {
  border: 1px solid violet;
} 

/* star */

.star {
  font-size: 0.9rem;
  color: goldenrod;
}


@media (max-width: 768px) {
  .services-item img {
    border: none;
  }
}