

.row {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.fab{
    color:#9A9DA0 ;
}
hr{
    height: 3px; 
    color: #839D2D; 
    background-color: #839D2D; 
    width: 100%;
     border: none;
}
.display-5 {
    font-family: 'Libre Barcode 128 Text', cursive;
}
#realisation {
    background-color: rgb(83, 27, 236);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.portfolio #siteAgence {
    text-decoration: underline overline #FF3028;
}